

.card {
width:580px;
text-align:center;
float: left;
margin-left: 30%;

}


.card2 {
  width:580px;
  text-align:left;
  float: left;
  margin-left: 5%;
  
  }



.btn
{
  margin-right: 8px;

}



form
{
  margin-top: 20px;
}
