  div {
    margin-top: 20px;
    width: 300px;
    margin: auto;
  }

form
{
    clear:both;
    max-width:80%;
    margin:0 auto;
    display:block;
    //font-family:Comic Sans Ms;
    text-align:center;
    background-color: #fff7d9;

}

.btn
{
    margin-top: 20px;
}


body {background-color: #fff7d9;}
