

.card {
    width:580px;
    text-align:center;
    float: left;
    margin-left: 30%;
    margin-bottom: 3%;
    border-width: 2px;
    border-color:#ffbb5f;

    
    }
    
    
    
    
    .btn
    {
      margin-right: 8px;
    }
    