
  .alert-success{
    max-width:40%;
    margin:0 auto;
    text-align:center;

}

.card {
max-width:80%;
text-align:center;
float: left;
margin-left: 50px;
column-count: 4;

}



.btn
{
  margin-right: 8px;
}
