
  .alert-success{
    max-width:40%;
    margin:0 auto;
    text-align:center;

}

.card {
max-width:80%;
margin:0 auto;
text-align:center;
float:auto;
column-count: 4;

}



.card-columns {
  column-count: 3;
}

.btn
{
  margin-right: 8px;
}


.alert {
  max-width:70%;
  margin-left: 220px;

}


